.highlight{
    background-color: #ffff00;
    font-weight: bold;
    font-family: Arial, helvetica, sans-serif;
}

.point{
    background-color: #ff0000;
    color: white;
    font-weight: bold;
}

#info{
    background-color:blue;
    color:white;
    font-weight:bold;
}

